<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AVA Formadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-img alt="Uma foto da Marcelle" src="../../assets/img/foto-marcelle.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Marcelle de Oliveira Firmino</ion-card-title>
      </ion-card-header>
      <ion-card-content>Superior de Tecnologia em Análise e   Desenvolvimento de Sistemas <br>  Matrícula: 23103877
      </ion-card-content>
    </ion-card>
</ion-content>
