<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label color="primary">
        Digite seu peso:
      </ion-label>
      <ion-input [(ngModel)]="peso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">
        Digite sua altura:
      </ion-label>
      <ion-input [(ngModel)]="altura"></ion-input>
    </ion-item>

    <ion-button click="calcular()">Calcular</ion-button>

    <h1>{{resultado}}</h1>

  </ion-list>
</ion-content>
